<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BandManager</title>
	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/landing/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/landing/img/favicons/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="assets/landing/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/landing/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/landing/img/favicons/manifest.json">
	<link rel="shortcut icon" href="assets/landing/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="assets/landing/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="assets/landing/css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="assets/landing/css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="assets/landing/css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="assets/landing/css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="assets/landing/fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="assets/landing/fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="assets/landing/css/cardio.css">
</head>

<body>
	<div class="preloader">
		<img src="assets/landing/img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="assets/landing/img/logo.png" data-active-url="assets/landing/img/logo-active.png" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#intro">Home</a></li>
					<li><a href="#services">About</a></li>
					<li><a href="#team">Showcase</a></li>
					<li><a href="#try">Try it !</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Request early access</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">Welcome to BandManager.</h3>
							<h1 class="white typed">Built with musicians, for musicians</h1>
							<br>
							<br>
							<a href="{{ url }}" class="btn btn-white-fill">Log in</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>About</h2>
				<h4 class="light muted">We are here to help you get more fans and expose your music on larger scale.</h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="assets/landing/img/icons/heart-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Easy content creation</h4>
						<p class="description">We will fetch all necessary info about your band from social networks...No need to type 
						anything in!</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="assets/landing/img/icons/guru-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Check your band`s social data</h4>
						<p class="description">Get your band`s social profile analyzed, and see what can you fix to help you get more exposed to fans.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="assets/landing/img/icons/weight-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Get promo material</h4>
						<p class="description">BandManager will generate your band`s EPK, download it for free and use it for your own promotion
						when booking clubs and other venues.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="team" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Showcase</h2>
				<h4 class="light muted">Beautifull user interface helps you to edit/create content for your band in just a few clicks.</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('assets/landing/img/team/team-cover1.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$69.00</h3>
								<h5 class="light light-white">1 - 5 sessions / month</h5>
							</div>
						</div>
						<img src="assets/landing/img/team/team3.jpg" alt="Team Image" class="avatar">
						<div class="title">
							<h4>Ben Adamson</h4>
							<h5 class="muted regular">Fitness Instructor</h5>
						</div>
						<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('assets/landing/img/team/team-cover2.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$69.00</h3>
								<h5 class="light light-white">1 - 5 sessions / month</h5>
							</div>
						</div>
						<img src="assets/landing/img/team/team1.jpg" alt="Team Image" class="avatar">
						<div class="title">
							<h4>Eva Williams</h4>
							<h5 class="muted regular">Personal Trainer</h5>
						</div>
						<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('assets/landing/img/team/team-cover3.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$69.00</h3>
								<h5 class="light light-white">1 - 5 sessions / month</h5>
							</div>
						</div>
						<img src="assets/landing/img/team/team2.jpg" alt="Team Image" class="avatar">
						<div class="title">
							<h4>John Phillips</h4>
							<h5 class="muted regular">Personal Trainer</h5>
						</div>
						<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="try" class="section section-padded blue-bg">
		<div class="container">
			<div class="row text-center title">
				<h2>Try it !</h2>
				<h4 class="white light">You want to try the app ?</h4>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="team text-center">
						<div class="cover" style="background:url('assets/landing/img/team/team-cover1.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$69.00</h3>
								<h5 class="light light-white">1 - 5 sessions / month</h5>
							</div>
						</div>
						<div class="title">
							<h4>You didn`t requested early access yet ?</h4>
							<h5 class="muted regular">We just need your Facebook username</h5>
						</div>
						<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Request access</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="team text-center">
						<div class="cover" style="background:url('assets/landing/img/team/team-cover2.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$69.00</h3>
								<h5 class="light light-white">1 - 5 sessions / month</h5>
							</div>
						</div>
						<div class="title">
							<h4>You already have early access ?</h4>
							<h5 class="muted regular">Log into BandManager</h5>
						</div>
						<a href="{{ url }}" class="btn btn-blue-fill ripple">BandManager login</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<h3 class="white">Request early access</h3><hr>
				<h5 class="light white">We just need you Facebook username - you can find it in URL on your profile page:</h5>
				<h5 class="light light-white">https://www.facebook.com/<i class="light white">john.doe</i></h5>
				<form action="" class="popup-form">
					<input type="text" class="form-control form-white" placeholder="john.doe">
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="None" id="squaredOne" name="check" />
							<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">Send</button>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; 2015 All Rights Reserved. Powered by <a href="http://www.phir.co/">PHIr</a> exclusively for <a href="http://tympanus.net/codrops/">Codrops</a></p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">
					<ul class="social-footer">
						<li><a href="http://www.facebook.com/pages/Codrops/159107397912"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://www.twitter.com/codrops"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/101095823814290637419"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="assets/landing/js/jquery-1.11.1.min.js"></script>
	<script src="assets/landing/js/owl.carousel.min.js"></script>
	<script src="assets/landing/js/bootstrap.min.js"></script>
	<script src="assets/landing/js/wow.min.js"></script>
	<script src="assets/landing/js/typewriter.js"></script>
	<script src="assets/landing/js/jquery.onepagenav.js"></script>
	<script src="assets/landing/js/main.js"></script>
</body>

</html>
