      <!-- Right sidebar -->             
      {% include 'admin/partials/right-sidebar.twig' %}


              </div><!-- /row -->
          </section>
      </section>

      <!--main content end-->


      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Alvarez.is
              <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <input type="hidden" id="access_token" value="{{ user.access_token }}"></input>
    <!-- Main application js script -->
    <script data-main="assets/admin/js/app" src="assets/admin/js/require.js"></script>
    
  </body>
</html>